* {
    margin: 0px;
    padding: 0px;
  }
  
  html {
    display: grid;
    height: 100%;
    background: conic-gradient(
      from -89.22deg at 100% -2.88%,
      #29de92 0deg,
      #10375c 360deg
    );
  }
  
  body {
    position: relative;
  }
  
  .App {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .login-container {
    position: absolute;
    width: 650px;
    height: 630px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(158, 158, 158, 0.5);
    box-shadow: 0px 9px 42px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 75px 86px 77px 86px;
    display: grid;
  }
  
  .login-container .login-content {
    width: 481px;
    height: 479px;
    /* background-color: red; */
    margin: auto;
  }
  
  .login-container .login-content .login-title {
    width: 100%;
    height: 83px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
  }
  
  .login-container .login-content .login-title .title {
    color: white;
    font-family: "Rosario";
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    text-transform: uppercase;
  }
  
.login-container .login-content .form-container
{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin-bottom: 100px;
}
  
.login-container .login-content .form-container .form-input
{
  width: auto;
  height: 45px;
  background-color: #FEFFFF;
  margin-bottom: 20px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 18px 76px 17px 20px;
  display: flex;
  justify-content: space-between;
  
}

.login-container .login-content .form-container .form-input input
{
  width: 290px;
  height: 40px;
  outline: none;
  border-color: transparent;
  font-family: 'RobotoFlex';
  color: rgba(9, 30, 49,  0.6);
  line-height: 28px;
  font-size: 24px;
  font-style: normal;
  margin: 2px;
  box-sizing: border-box;
  background-color: #FEFFFF;
}

.login-container .login-content .form-container .form-input input::placeholder
{
  margin-left: 50px;
}

.login-container .login-content .form-container .form-input .icon 
{
  margin-left: 10px;
  height: 30px;
  width: 30px;
  font-size: 30px;
  color: #32444B;
}

.login-container .login-content .form-container .form-input .separator
{
  font-size: 52px;
  color: #32444B;
  margin-bottom: 3px;
}

.login-container .login-content .submit-btn
{
  width: auto;
  justify-content: flex-end;
}

.login-container .login-content .submit-btn button
{
  width: 144px;
  height: 53px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: #091E31;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Roboto';
  float: right;
}


