
/* Main Content */
.main-content
{
    height: auto;
    width: 75%;
    margin-left: 25%;
    background: white;
}

/* section Recent */
.main-content .recent-section
{
    width: 100%;
    background-color: #103B58;
    height: 40px;
}

.sct 
{
    height: 40px;
}

#rct-act
{
    font-size: 18px;
    color: white;
    margin-left: 40px;
}

#breadcrumb
{
    font-size: 14px;
    color: white;
    margin-right: 12px;
}
/* End section Recent */

/* Changed Section */
.cgd-sct
{
    padding: 100px 50px 0px 70px;
    height: 500px;
    align-items: center;
    justify-content: center;
}
/* End Changed Section */

/* action row */
.sectionOption
{
    width: 100%;
    height: 60px;
}

/* Action Side */

.actionSide
{
    height: 60px;
}

.ctn-act
{
    height: 100%;
}

.act-sd
{
    height: 80%;
}

.colorized-act
{
    background-color: #dcdcdc;
    padding: 3px 0px 3px 15px;
    border-radius: 50px;
    border: none;
}

#act-title
{
    font-family: 'Roboto' sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
}

#ang-down
{
    font-size: 20px;
    margin-right: 20px;
}

#act-sep
{
    font-weight: lighter;
    font-size: 18px;
}

.app-btn
{
    outline: none;
    border: none;
    border-radius: 0px 50px 50px 0px;
    padding: 2px 15px 2px 5px;
    background-color: #dcdcdc;
}

#slct-item
{
    font-family: 'Roboto' sans-serif;
    font-size: 12px;

}

select
{
    -webkit-appearance: none;
    -moz-appearance: non;
    text-overflow: '';
    text-indent: 1;
    outline: none;
    border: none;
    text-align: center;
}
/* End Action */


/* Search Side */
.searchSide
{
    height: 60px;
}

.colorized-search
{
    background-color: #dcdcdc;
    padding: 3px 0px 3px 15px;
    border-radius: 50px;
    border: none;
}

/* End Search Side */

/* Table Style */
.table thead th
{
    font-family: 'Roboto' sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #091E31;
}

.rounded-brd
{
    border: none;
    border-radius: 50px;
    background-color: #D7E6FF;
    width: fit-content;
    padding: 5px 20px 5px 20px;
}

#search-input
{
    outline: none;
    border: none;
    background-color: transparent;
    font-family: 'Roboto' sans-serif;
    font-size: 16px;
    color: #32444B;
    padding: 2px;
}

/* End Action Side */

/* End Main Content */
