
/* Main Content */
.main-content
{
    height: auto;
    width: 75%;
    margin-left: 25%;
    background: white;
}

/* section Recent */
.main-content .recent-section
{
    width: 100%;
    background-color: #103B58;
    height: 40px;
}

.sct 
{
    height: 40px;
}

#rct-act
{
    font-size: 18px;
    color: white;
    margin-left: 40px;
}

#breadcrumb
{
    font-size: 14px;
    color: white;
    margin-right: 12px;
}
/* End section Recent */



.slct
{
    background-color: #DCDCDC;
    outline: none;
    border: none;
}

.down
{
    margin-left: 15px;
}

#ic-down
{
    font-size: 16px;
    font-weight: 900;
}


select {
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-overflow: '';
}

select option
{
    background-color: white;
}

.colorized
{
    background-color: #DCDCDC;
    border-radius: 50px;
    height: 40px;
}

#act-sep
{
    font-weight: lighter;
    font-size: 22px;
    margin: 0px 5px 0px 5px;
}

#btn-apply
{
    outline: none;
    background-color: transparent;
    border: none;
    border-radius: 0px 50px 50px 0px;
    font-size: 14px;
    color: #777;
    margin-bottom: 1px;
}

.under
{
    height: 15px;
    font-size: 12px;
}

.searchSide
{
    /* background-color: blue; */
    height: 60px;
}

#btn-search
{
    outline: none;
    background-color: transparent;
    border: none;
    border-radius: 0px 50px 50px 0px;
    font-size: 14px;
    color: #777;
    margin-bottom: 1px;
}

.input-container input
{
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    background: transparent;
}

.input-container input:focus
{
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    background: transparent;
}

#src-ico
{
    font-size: 16px;
}

.btn-container
{
    width: 180px;
    
}

.add-ico
{
    font-size: 20px;

}

.add-txt
{
    font-size: 16px;
    margin-top: 2px;
    margin-left: 10px;
}

#btn-add
{
    outline: none;
    border: none;
    justify-content: space-evenly;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 2px 5px 2px 5px;
    background: #DCDCDC;
    float: right;
}

